@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #000;
    overflow-x: hidden;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 40px 100px;
    z-index: 10000;
    transition: 0.6s;
}

header .logo{
    position: relative;
    font-weight: 700;
    color: #FFF;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
}

header #toggle{
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

header #toggle:before{
    content: '';
    position: absolute;
    bottom: 7px;
    width: 100%;
    height: 2px;
    background: #FFF;
}

header #toggle:after{
    content: '';
    position: absolute;
    top: 7px;
    width: 100%;
    height: 2px;
    background: #FFF;
}
.banner_sec{
    clip-path: polygon(0 8%, 100% 0, 100% 89%, 0 100%);
}

.banner{
    position: relative;
    width: 100%;
    background: url('bg1.png') no-repeat;
    overflow: hidden;
    min-height: 100vh;
    padding: 100px;
    background-size: cover;
    display: flex;
    align-items: center;
    transition: 0.6s;
    z-index: 20000;
}

.banner.active header #toggle:before{
    top: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.banner.active header #toggle:after{
    top: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.banner.active{
    transform: translateX(-400px);
}
.banner_blog{
    clip-path: polygon(0 0, 100% 11%, 100% 100%, 0 92%);
}
.banner_blog{
    position: relative;
    width: 100%;
    /* The image used */
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(https://images.unsplash.com/photo-1488190211105-8b0e65b80b4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1024&q=80);
    position: relative;
    /* Full height */
    height: 80%; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    padding: 100px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.6s;
    z-index: 20000;
}

.banner_blog.active header #toggle:before{
    top: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.banner_blog.active header #toggle:after{
    top: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.banner_blog.active{
    transform: translateX(-400px);
}

.banner_sec{
    position: relative;
    width: 100%;
    /* The image used */
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(https://images.unsplash.com/photo-1542621334-a254cf47733d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2000&q=60);
    position: relative;
    /* Full height */
    height: 80%; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    padding: 100px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.6s;
    z-index: 20000;
}

.banner_sec.active header #toggle:before{
    top: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.banner_sec.active header #toggle:after{
    top: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.banner_sec.active{
    transform: translateX(-400px);
}


#navigation{
    position: fixed;
    top: 0;
    right: -400px;
    width: 400px;
    height: 100vh;
    background: #A84646;
    z-index: 1000000;
    display: grid;
    place-items: center;
    transition: 0.6s;
}

#navigation.active{
    right: 0;
}

#navigattion ul{
    position: relative;
    display: flex;
    flex-direction: column;
}

#navigation ul li{
    list-style: none;
}

#navigation ul li a{
    color: #FFF;
    text-decoration: none;
    display: inline-block;
    font-size: 2em;
    font-weight: 600;
    text-transform: uppercase;
}

.content{
    max-width: 600px;
}

.content h2{
    color: #FFF;
    font-size: 2.5em;
}

.content h2 span{
    color: #A84646;
    font-size: 1.2em;
}

.content p{
    font-size: 1.2em;
    color: #FFF;
    font-weight: 300;
}

.content a{
    position: relative;
    display: inline-block;
    margin-top: 20px;
    background: #FFF;
    color: #000;
    padding: 10px 30px;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 500;
}

.container{
    width: 100%;
    margin: 20px auto;
    columns: 3;
    column-gap: 40px;
    color: #000;
}

.container .box{
    width: 100%;
    margin: 0 0 20px;
    padding: 10px;
    background: #FFF;
    overflow: hidden;
    break-inside: avoid;
}

.container .box-box{
    width: 100%;
    margin: 20px 20px 20px;
    padding: 10px;
    background: #000;
    overflow: hidden;
    break-inside: avoid;
    text-align: center;
}
.container .box img{
    max-width: 100%;
}

.container .box h2{
    margin: 10px 0 0;
    padding: 0;
    font-size: 20px;
}

.container .box h4{
    opacity: 0.4;
}

.container .box p{
    margin: 0;
    padding: 0 0 10px;
    font-size: 16px;

}

h1.bonus {
    font-size: 5.4em;
  }

  @supports (-webkit-text-stroke: 2px black) {
    h1 {
      -webkit-text-stroke: 3px #A84646;
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
    }
  }

.sci{
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 100px;
}

.sci li{
    list-style: none;
}

.sci li a{
    position: relative;
    place-items: center;
    display: grid;
    width: 50px;
    height: 50px;
    text-decoration: none;
    border: 1px solid #FFF;
    margin: 10px 0 0;
}

.sci li a:hover{
    background: #FFF;
}

.sci li a img{
    max-width: 20px;
    filter: invert(1);
    mix-blend-mode: difference;
}

ul li:before{
    content: attr(data-text);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFF;
    font-size: 6em;
    font-weight: 600;
    letter-spacing: 20px;
    opacity: 0;
    transition: 0.6s;
    white-space: nowrap;
}

ul li:hover:before{
    opacity: 0.26;
    letter-spacing: 0px;
}

ul li a{
    position: relative;
    display: inline-block;
    padding: 6px 15px;
    text-decoration: none;
    color: #FFF;
    text-transform: uppercase;
    letter-spacing: 2px;
    overflow: hidden;
    transition: 0.5s;
    z-index: 1;
}

ul:hover li a{
    opacity: 0;
}

ul li a:hover{
    transform: scale(1.4);
    z-index: 10000;
    background: rgb(33, 150, 243, 0.08);
    opacity: 1;
}

ul li a:before{
    content: '';
    position: absolute;
    top: 0;
    left: -100px;
    width: 80px;
    height: 100px;
    background: linear-gradient(90deg, transparent, rgba(255,255,255,0.8), transparent);
    transform: skewX(35deg);
    transition: 0%;
}

ul li a:hover:before{
    left: calc(100% + 100px);
    transition: 0.5s;
    transition-delay: 0.2s;
}



@media (max-width: 800px){
    header{
        padding: 20px 50px;
    }

    .banner{
        padding: 100px 50px 150px;
    }

    .banner h2{
        font-size: 1.8em;
    }

    .banner .content p,a{
        font-size: 1em;
    }

    .banner.active
    {
        transform: translateX(-250px);
    }

    #navigation{
        width: 250px;
    }

    #navigation ul li a {
        font-size: 1.5em;
        margin: 5px 0;
    }
    .sci{
        position: absolute;
        bottom: 50px;
        right: initial;
        flex-direction: row;
    }

    .sci li a{
        margin: initial;
        margin-right: 10px;
    }

    ul li:before{
        content: attr(data-text);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #FFF;
        font-size: 4em;
        font-weight: 600;
        letter-spacing: 20px;
        opacity: 0;
        transition: 0.6s;
        white-space: nowrap;
    }
}

@media (max-width: 1200px){
    .container{
        columns: 3;
        width: calc(100% - 40px);
        box-sizing: border-box;
        padding: 20px 20px 20px 0;
    }

}

@media (max-width: 768px){
    .container{
        columns: 2;
    }
}

@media (max-width: 480px){
    .container{
        columns: 1;
    }
    .loader{
        margin-left: 30% !important;
        margin-top: 30% !important;
    }
}

.example_c {
    color: #494949 !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #ffffff;
    padding: 20px;
    border: 4px solid #494949 !important;
    display: inline-block;
    transition: all 0.4s ease 0s;
}

.example_c:hover {
    color: #ffffff !important;
    background: #000;
    border-color: #000 !important;
    transition: all 0.4s ease 0s;
    }

    a{
        color:#A84646;
        text-decoration:none
    }
    
    a:hover,a:focus{
        color:#A84646;
        text-decoration:underline
    }
    
    a:focus,
    .btn:focus {
        outline: none;
    }
    
    .img-responsive {
        border: 1px solid #ddd;
    }
    
    /*-----------------------
    ----- Typo Styles ------
    -------------------------*/
    h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{
        font-weight:300;
    }
    
    .big-text{
        font-size:58px;
        font-weight:300;
        line-height:62px;
        letter-spacing:0.01em;
        word-spacing: 0.15em;
        text-transform:uppercase;
    }
    
    .section-title{
        margin-top:-20px;
        margin-bottom: 80px;
        text-align:center;
    }
    
    /*-----------------------
    ----- Layout Styles -----
    -------------------------*/
    
    .add-padding {
        padding-top:50px;
        padding-bottom:50px;
    }
    
    /*-----------------------
    ----- Color Styles ------
    -------------------------*/
    
    .bg-color1{
        color:#fff;
        background:#509B9E;
    }
    
    .bg-color2{
        color:#fff;
        background:#A84646;
    }
    
    .bg-color3{
        color:#fff;
        background:#334959;
    }
    
    .border-bottom-color2{
        border-bottom:7px solid #A84646;
    }
    
    .border-top-color2{
        border-top:3px solid #A84646;
    }
    
    .color1 .service-icon,
    .color1.service-item ul li:nth-child(2):before{
        background:#509B9E;
    }
    
    .color1 .service-icon:after{
        border:3px solid #509B9E;
    }
    
    .color2 .service-icon,
    .color2.service-item ul li:nth-child(2):before{
        background:#A84646;
    }
    
    .color2 .service-icon:after{
        border:3px solid #A84646;
    }
    
    .color3 .service-icon,
    .color3.service-item ul li:nth-child(2):before{
        background:#334959;
    }
    
    .color3 .service-icon:after{
        border:3px solid #334959;
    }
    
    /*------------------
    ----- Buttons ------
    --------------------*/
    
    .btn-color1,
    .btn-color2{
        padding: 10px 30px;
        color:#fff;
        font-size: 21px;
        font-weight: 300;
        background:#A84646;
        outline: none !important;
        border-radius: 0;
        transition: opacity .2s ease-out;
    }
    
    .btn-color1{
        background:#509B9E;
    }
    
    .btn-color1:hover,
    .btn-color2:hover{
        color:#fff;
        opacity: 0.9;
    }
    
    .btn-color1:focus,
    .btn-color1:active,
    .btn-color2:focus,
    .btn-color2:active{
        color:#fff;
    }
    
    .btn-color1 .fa,
    .btn-color2 .fa{
        margin-right: 15px;
    }
    
    /*----------------------
    ----- Contact Styles ----
    ------------------------*/
    
    #contact{
        background-image:url('../images/bg-contact.png');
        background-repeat:no-repeat;
        background-position:0 100%;
        background-color: #000;
        color: white;
        padding: 20px;
        justify-content: space-around;
    }
    .lead
    {
        color: white;
    }

    #contact p{
        color: white;
    }
    
    #contact-form .form-group label{
        display:none;
        font-size:18px;
        line-height:24px;
        font-weight:100;
        text-transform:uppercase;
    }
    
    #contact-form.no-placeholder .form-group label{
        display:block;
    }
    
    #contact-form .controls {
        padding:0;
        margin-bottom:30px;
        border:1px solid #ddd;
        border-radius:2px;
    }
    
    #contact-form .form-control {
        background:transparent !important;
        border:none;
        border-bottom:3px solid transparent;
        border-radius:0;
        outline:none;
        box-shadow:none;
        height:56px;
        font-size:21px;
        line-height:32px;
        font-weight:100;
        padding-left:64px;
        -webkit-transition:border-color .3s ease-out;
        transition:border-color .3s ease-out;
        border-radius:2px;
    }
    
    #contact-form .form-group{
        position:relative;
    }
    
    #contact-form .form-group [class*=fa] {
        display:block;
        width:64px;
        position:absolute;
        top:0;
        left:5px;
        color:#e5e5e5;
        font-size:24px;
        line-height:53px;
        text-align:center;
        font-weight:300;
        opacity:0.5;
        transition:opacity .2s ease-out;
    }
    
    #contact-form.no-placeholder .form-group [class*=fa]{
        top:30px;
    }
    
    #contact-form .form-control:focus + [class*=fa]{
        opacity:1;
    }
    
    #contact-form textarea.form-control {
        height:auto;
        max-width:100%;
        min-width:100%;
        font-size:21px;
        line-height:32px;
        padding-top:10px;
    }
    
    #contact-form .form-control:focus {
        background:#fff;
        border-bottom:3px solid #A84646;
        outline:none;
        box-shadow:none;
        -webkit-transition:border-color .3s ease-in;
        transition:border-color .3s ease-in;
    }
    
    #contact-form .error-message {
        padding:5px 0;
        position:absolute;
        top:-30px;
        right:0;
        font-size:14px;
        font-weight:300;
        color:#ff0000;
        z-index:10;
    }
    
    #contact-form .error-message:before {
        content:"\00d7";
        font-size: 21px;
        line-height: 21px;
        margin-right: 5px;
    }
    
    /*----------------------
    ----- Footer Styles ----
    ------------------------*/
    
    #main-footer {
        background: #fff;
        padding: 0 0 0 10px;
        margin: 0 0 0 0;
    }
    

    .loader {
        color: #A84646;
        background: #000;
        font-family: Consolas, Menlo, Monaco, monospace;
        font-weight: bold;
        font-size: 30vh;
        height: 100vh;
        opacity: 0.8;
        display: flex;
        margin-left: 42vw;       
        margin-top: 30vh;
      }
      
        .seg {
            text-align: center;
          display: inline-block;
          animation: pulse 0.4s alternate infinite ease-in-out;
        }
      
      .seg:nth-child(odd) {
            animation-delay: 0.4s;
      }
        
      @keyframes pulse {
        to {
          transform: scale(0.8);
          opacity: 0.5;
        }
      }

      .load-finish{
          display: none;
          pointer-events: none;
      }

      .main{
        opacity: 0;
    }

      .load-finish-body{
          display: block;
          opacity: 1;
      }
      
      .parallax {
        /* The image used */
        background-image: url(https://images.unsplash.com/photo-1542621334-a254cf47733d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2000&q=60) !important;
        position: relative;
        /* Full height */
        height: 80%; 
      
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }